[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
dataclass-wizard = "*"

[dev-packages]
black = "*"
twine = "*"
pytest = "*"
pylint = "*"
pip-system-certs = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
